<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <footer class="footer-area">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="footer">
              <h2 class="title__line--2">TÀI KHOẢN KHÁCH</h2>
              <ul class="ft__list">
                <li><a href="#">Tài Khoản</a></li>
                <li><a href="cart.html">Đơn Hàng</a></li>
                <li><a href="wishlist.html">Danh Sách Mơ Ước</a></li>
                <li><a href="checkout.html">Thanh Toán</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="footer">
              <h2 class="title__line--2">Dịch Vụ Của Chúng Tôi</h2>
              <ul class="ft__list">
                <li><a href="#">Tài Khoản</a></li>
                <li><a href="cart.html">Đơn Hàng</a></li>
                <li><a href="wishlist.html">Danh Sách Mơ Ước</a></li>
                <li><a href="checkout.html">Thanh Toán</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="footer">
              <h2 class="title__line--2">GỬI EMAIL</h2>
              <div class="news__input">
                <input
                  type="email"
                  placeholder="Địa Chỉ Email*"
                  class="form-control bg-transparent"
                />
                <button class="btn btn-primary">Gửi</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="htc__copyright mt-4">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <div class="copyright__inner">
                <p>
                  Copyright ©
                  <a href="https://freethemescloud.com/"> Free Themes Cloud </a>
                  2025. All rights reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
